
/*---------------
    Fonts
---------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*---------------
    Global Style
---------------*/
/* define custom css varibles */

:root{
    --skin-color: #fb839e;
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px -3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px -3px #f8f8f8;
}


body{
   font-size: 16px;
   line-height: 1.5;
   overflow-x: hidden;
   background-color: var(--bg-black-50);
}

*:not(0){
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before, ::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
    min-width: 100%;
}

.container{
    max-width: 1250px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.outer-shadow{
    box-shadow: 5px 5px 5px #d0d0d0;
}

.inner-shadow{
    box-shadow: -5px -5px 5px #f8f8f8;
    border-radius: 50%;
}

.outer-shadow-1{
    box-shadow: 1px 1px 30px #868686;
}

.outer-shadow-2{
    box-shadow: 0 0 8px #868686;
    border: 10px solid #f8f8f8;
}

.inner-shadow-2{
    box-shadow: -1px -1px 20px #868686;
    border: 10px solid #f8f8f8;
}


.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
    box-shadow: 5px 5px 5px #f8f8f8;
}

.hover-in-shadow::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.hover-in-shadow:hover::after{
    box-shadow: -5px -5px 5px #d0d0d0;
}

.align-items-center{
    align-items: center;
}

.btn-1{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.5s ease;
    display: inline-block;
}

.btn-1::after{
    border-radius: 30px;
}

.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}

.effect-01{
    width: 30px;
    height: 30px;
    border: 5px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 8s linear infinite;
}

.effect-02{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-out infinite;
}

.effect-02 div{
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}

.effect-03{
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

.effect-04{
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}

.effect-04::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}

.effect-05{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 50%;
    animation: spin 10s linear infinite;
}

.effect-05 div{
    width: 1px;
    background-color: #4dd0e1;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes topBounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}

@keyframes leftBounce{
    0%, 100%{
        transform: translatex(0);
    }
    50%{
        transform: translatex(25px);
    }
}

.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--bg-black-900);
    text-transform: uppercase;
    margin: 0;
}

.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color);
}


/*---------------
    Header
---------------*/

.header{
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .logo a{
    display: inline-block;
    text-align: center;
    line-height: 40px; 
    height: 40px;
    width: 40px;
    font-size: 25px;
    color: var(--skin-color);
    border-radius: 50%;
    border: 2px solid var(--skin-color);
    font-weight: 600;
    text-transform: uppercase;
}

.header .hamburger-btn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.5s ease;
}

.header .hamburger-btn::after{
    border-radius: 50%;
}

.header .hamburger-btn span{
    display: block;
    height: 2px;
    width: 16px;
    background-color: red;
    background-color: var(--bg-black-900);
    position: relative;
}
.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
    content: ' ';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}

.header .hamburger-btn span::before{
    top: -6px;
}

.header .hamburger-btn span::after{
    top: 6px;
}

/*-------------------------
    Menu de navegacion
-------------------------*/

.nav-menu{
    position: fixed;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.nav-menu .close-nav-menu{
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    transition: all 0.5s ease;
}

.nav-menu .close-nav-menu::after{
    border-radius: 50%;
}

.nav-menu-inner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul{
    padding: 15px;
}

.nav-menu ul li{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child{
    margin-bottom: 0;
}

.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.nav-menu ul li a.active{
    color: var(--skin-color);
}

.nav-menu ul li a::after{
    border-radius: 30px;
}

.nav-menu .copyright-text{
    position: absolute;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
    left: -60px;
}

/*--------------------
    Home Section
-------------------*/

.home-section{
    position: relative;
}

.home-section .full-screen{
    padding: 50px 0;
    min-height: 100vh;
}

.home-section .home-text,
.home-section .home-imeg{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.home-section .home-text p{
    color: var(--text-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
.home-section .home-text h2{
    font-size: 55px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
}
.home-section .home-text h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-700);
    margin: 0;
    text-transform: capitalize;
}

.home-section .home-text .btn-1{
    margin-top: 30px;
}

.home-section .home-img{
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.home-section .home-img .img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

/*--------------------
    About section
--------------------*/

.about-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}

.about-section .about-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.about-section .about-img .img-box{
    padding: 10px;
    border-radius: 5px;
}

.about-section .about-img .img-box img{
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

.about-section .about-info{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px; 
}


.about-section .about-info p{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}


.about-section .about-info span{
    font-weight: 600;
}

.about-section .about-info .btn-1{
    margin: 30px 20px 0;
}


